@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-x: hidden;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  li {
    font-size: 18px;
  }

  #Menu-items {
    box-shadow: 0 10px 25px 1px #e5e7eb;
  }

  #play-audio:hover circle {
    opacity: 1;
    fill: #A445ED;
  }
}

@layer utilities {
}